<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">Bookers</a>
        <div class="collapse navbar-collapse justify-content-end">
            <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="">
                <%= link_to user_path(current_user), class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to users_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-user" aria-hidden="true"> Users</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to bookers_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-book" aria-hidden="true"> Books</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"> logout</span>
                <% end %>
              </li>
            <% else %>
              <li class="">
                <%= link_to root_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-home" aria-hidden="true"> Home</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to home_about_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-link" aria-hidden="true"> About</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-edit" aria-hidden="true"> sign up</span>
                <% end %>
              </li>
              <li class="">
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"> login</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
        </div>
    </nav>

    
    <%= yield %>
  </body>
</html>
